DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres?schema=public"
NEXT_PUBLIC_MAPBOX_TOKEN=pk.eyJ1IjoiYmF0YmF5YXItc3UiLCJhIjoiY2w0OGxmcmhlMDBvZzNlbzJxMDhnd2dvNiJ9.6Uk4N_C8zv0GNOM-d2t06A
